#root {
  font-family: "Alatsi", serif;
  font-weight: 400;
  font-style: normal;
}

.Appall {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
}

.Appbody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
