.Custombutton {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.Button_reusable {
  background-color: #1162b1 !important;
  grid-column: 1/5 !important;
  grid-row: 1 !important;
  border-radius: 5%;

  &:hover {
    /* text-indent: 30px; */
    /* border-color: white !important; */
    /* color: black !important; */
  }
}

.Button_reusable:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.Button_name {
  align-self: center;
  margin-left: 18px;
}

#Icon_starttimer {
  grid-column: 1/2 !important;
  grid-row: 1 !important;
  place-self: center;
  z-index: 1;
  color: #0dcaf0;
}
