h2 {
  font-size: 40px !important;
  margin: 20px 30px 20px 30px !important;
}

hr {
  /* padding: 60px 0px; */
  margin: 10px 10px;
  width: 100%;
  background-color: #a3a6b2 !important;

  /* color: #eee !important; */
  height: 1px;
}
